* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.container {
    display: flex;
    justify-content: center;
    color: rgb(2, 3, 3);
    background-color: rgba(0, 255, 255, 0.358);
    width: 70%;
    padding: 1rem 2rem;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
}

#titlu {
    font-weight: bold;
}